.App {
  text-align: center;
  background-color: #7cbed8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headerComponent {
  position: absolute;
  top: 7%;
  left: 14%;
}

.App-link {
  color: #000000;
}

.buttonAdd {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: rgb(99, 136, 192);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  overflow: hidden;
  position: relative;
  float: right;
}

.buttonAdd:hover{
  background-color: #193f55;
  color: rgb(255, 255, 255);
}

.buttonDelete {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: rgb(179, 66, 66);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  align-items: right;
}
.buttonDelete:hover{
  background-color: #a52b2b;
  color: rgb(255, 255, 255);
}

.FormTable {
  margin: 1px;
  width: 15%;
  height: 50%;
  text-align: left;
  position: absolute;
  top: 40%;
  left: 18%;
  
}

.InputStyle {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  box-sizing: border-box;
  border: 2px solid rgb(5, 5, 5);
  border-radius: 9px;
  font-size: large;
}

.PersonTable {
  margin: 2px;
  padding: 2%;
  width: 100%;
  height: 90%;
  text-align: left;
  border-style: solid;
  position: relative;
  left: 100%;
  top: 50%;
}

.TableHeader {
  background-color: rgb(37, 68, 124);
  border-radius:1rem;
  padding: 10px;
  margin: 12px;
  width: 25%;
  text-align: left;
  position: absolute;
  right: 20%;
  top: 25%;
}
